.tn-tree,
.tn-tree-node,
.tn-tree-nodes {
    list-style: none;
}

.tn-tree {
    padding: 0;
    margin: 0;
}

.tn-tree-node {
    display: flex;
    gap: 0.25rem;
    border: 1px solid black;
    margin-bottom: 0.4rem;
    text-decoration: none;
    color: black;
}

.tn-tree-node-label {
    padding: 0.75rem;
    width: 100%;
}

.tn-tree-node-label:hover {
    background-color: darkgray;
    transition-duration: 200ms;
}

.tn-tree-node>.tn-tree-node-expand-btn,
.tn-tree-node>.tn-tree-node-icon {
    border: none;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 0 0.75rem;
}

.tn-tree-node>.tn-tree-node-expand-btn:hover,
.tn-tree-node>.tn-tree-node-icon:hover {
    background-color: darkgray;
    transition-duration: 200ms;
}

.tn-active,
.tn-tree-node>.tn-active {
    background-color: skyblue;
}
